build/intermediates/dex-cache/cache.xml
build/intermediates/model_data.bin
circularProgressButton/circularProgressButton.iml
app/app.iml
local.properties
DeviceInformation.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/gradle.xml
.idea/encodings.xml
.idea/copyright/profiles_settings.xml
.idea/compiler.xml
.idea/.name
.gradle/2.2.1/taskArtifacts/cache.properties
.gradle/2.2.1/taskArtifacts/cache.properties.lock
.gradle/2.2.1/taskArtifacts/fileHashes.bin
.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
.gradle/2.2.1/taskArtifacts/outputFileStates.bin
.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
.idea/scopes/scope_settings.xml
app/build/
